body{
    background-color: whit""e;
    background-image: url("https://image.shutterstock.com/image-photo/portfolio-word-vintage-letterpress-wood-260nw-145107160.jpg");
    background-repeat: no-repeat;
    background-size:100%;

}
